@inherits StringFitlerBase
<div>
    Test (Filter Id, but this could be a filter description): @FilterId
</div>
<div class="row form-row">
    <div class="col-md-8">
        <input type="text" placeholder="@PlaceholderText" class="form-control" value="@PreSetValue" />
    </div>
    <div class="col-md-4">
        <button type="button" class="btn bg-danger" @onclick="() => RemoveMe()"> <span class="oi oi-minus" aria-hidden="true"></span> </button>
    </div>
</div>
 