@using ContractTracker.Authentication
@inherits LayoutComponentBase
@inject Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider authenticationStateProvider; 
<RadzenNotification />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            <input type="button" value="Logout" @onclick="LogoutUser" class="btn btn-primary" />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@*
<header>
    <NavMenu />
</header>

<div class="container">
    <main role="main" class="pb-3 mr-2 ml-2">
        @Body
    </main>
</div>
*@

@code {
    private async Task LogoutUser()
    {
         await ((TrackerAuthenticationStateProvider)authenticationStateProvider).NotifyUserLogout();
    }
}
