@page "/sandbox"
@attribute [AllowAnonymous]
@inherits SandboxComponentBase

<h3>Sandbox</h3>

<div class="row form-row">
    <div class="col-md-12">
        <input type="button" value="Get Complex Object" @onclick="GetComplexModel" class="btn btn-primary" />
    </div>
</div>

<div class="row form-row">
    <div class="col-md-12">
        <input type="button" value="Get Complex Object With Params" @onclick="GetComplexModelWithParams" class="btn btn-primary" />
    </div>
</div>


<div class="row form-row">
    <div class="col-md-12">
        <input type="button" value="Post Object" @onclick="PostObject" class="btn btn-outline-secondary" />
    </div>
</div>

<div class="row form-row">
    <div class="col-md-12">
        <input type="button" value="Go Kaboom" @onclick="InvokeKaboom" class="btn btn-outline-secondary" />
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="form-group">
             <label for="business-rule-kaboom">Throw a Forced Business Rule Exception</label><br/>
             <input type="button" id="business-rule-kaboom" value="Business Rule Kaboom" @onclick="InvokeBusinessRuleKaboom" class="btn btn-outline-secondary" />
             <small   class="form-text text-muted">Should return a 400 back to the client, not a 500.</small>
        </div>
    </div>
</div>


 