.thetext {
    color: white;
    animation-name: example;
    animation-duration: 4s;
    font-weight: bold;
}

@keyframes example {
    from {
        color: green;
    }

    to {
        color: white;
    }
}
