@page "/vendorsearch"
@inherits VendorSearchComponentBase

<h3>Vendor Search</h3>

<div>todo</div>
<ul>
    <li>Get Each filter to call back during state change/observable: https://blazor-university.com/components/component-events/</li>
    <li> Identify types: Calendar, Free text, select list, what else?  </li>
    <li> How can I build dynamic filters of different types? </li>
    <li> Where should they go!?</li>
    <li> Where should the client models for them go? </li>
</ul>
//https://learn.microsoft.com/en-us/dotnet/architecture/blazor-for-web-forms-developers/components
@if(vendors != null)
{
    <div>Number of vendors @vendors.Count().ToString()</div>
}

<ContractTracker.Controls.Grid.Filters.StringFilter></ContractTracker.Controls.Grid.Filters.StringFilter>
<ContractTracker.Controls.Grid.Filters.DateFilter></ContractTracker.Controls.Grid.Filters.DateFilter>
<ContractTracker.Controls.Grid.Filters.DropDownFilter  OnChangeCallback="@FilterStateChange" NameOfThisFilter="DropDownDemo"></ContractTracker.Controls.Grid.Filters.DropDownFilter>